# Python
__pycache__/
*.py[cod]
.venv/
.ruff_cache/
.pytest_cache/
.ipynb_checkpoints/
*.egg-info/
build/
dist/

# Data and model checkpoints (re-created by `make data` and `make run`)
data/raw/
data/interim/

# Local
.env
.DS_Store
.vscode/
.idea/
